<h1 class='lead'>User Management</h1>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#users" data-toggle="tab">Users</a></li>
  <li><a href="#access_request" data-toggle="tab">Access Requests <span class="badge"><%= @access_requests.length %></span></a></li>
  <li><a href="#image_requests" data-toggle="tab">Image Requests <span class="badge"><%= @image_requests.length %></span></a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="users">
    <table class="table">
      <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Email</td>
        <td>Role</td>
        <td>Upgrade/Downgrade</td>
      </tr>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.uid %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
            <% if user.is_admin? %>
              <td>
                Administrator
              </td>
              <td>
                <button class="btn btn-success" disabled="disabled"><span class="glyphicon glyphicon-chevron-up"></span></button>
                <%= link_to set_role_path(:id => user.uid, :role => 1), :class => "btn btn-danger", data: { confirm: 'Are you sure you want to remove admin priveleges?' } do %>
                  <span class="glyphicon glyphicon-chevron-down"></span>
                <% end %>
              </td>
            <% else %>
              <% if user.is_content_manager? %>
                <td>
                  Content Manager
                </td>
                <td>
                  <%= link_to set_role_path(:id => user.uid, :role => 2), :class => "btn btn-success", data: { confirm: 'Are you sure you want to give admin priveleges?' } do %>
                    <span class="glyphicon glyphicon-chevron-up"></span>
                  <% end %>
                  <%= link_to set_role_path(:id => user.uid, :role => 0), :class => "btn btn-danger" do %>
                    <span class="glyphicon glyphicon-chevron-down"></span>
                  <% end %>
                </td>
              <% else %>
                <td>
                  Commenter
                </td>
                <td>
                  <%= link_to set_role_path(:id => user.uid, :role => 1), :class => "btn btn-success" do %>
                    <span class="glyphicon glyphicon-chevron-up"></span>
                  <% end %>
                  <button class="btn btn-danger" disabled="disabled"><span class="glyphicon glyphicon-chevron-down"></span></button>
                </td>
              <% end %>
            <% end %>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="tab-pane" id="access_request">
    <table class="table">
      <thead>
        <tr>
          <th>User</th>
          <th>Reason</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @access_requests.each do |access_request| %>
          <tr>
            <td><%= access_request.user %></td>
            <td><%= access_request.reason %></td>
            <td>
            <%= link_to 'Approve', approve_request_url(access_request), data: { confirm: 'Are you sure?' }, :class => 'btn btn-success' %>
            <%= link_to 'Deny', access_request, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="tab-pane" id="image_requests">
    <table class="table">
      <thead>
        <tr>
          <th>Hotspot ID</th>
          <th>Image</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @image_requests.each do |image_request| %>
          <tr>
            <td><%= image_request.location_id %></td>
            <td><%= image_tag image_request.image.url(:medium) %></td>
            <td>
            <%= link_to 'Approve', approve_image_url(image_request), data: { confirm: 'Are you sure?' }, :class => 'btn btn-success' %>
            <%= link_to 'Deny', deny_image_url(image_request), data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
