<h1 class='lead'>User Management</h1>
<div class="row">
    <table class="table">
    <tr>
      <td>ID</td>
      <td>Name</td>
      <td>Role</td>
      <td>Edit</td>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.uid %></td>
        <td><%= user.name %></td>
          <% if user.is_admin? %>
            <td>
              Administrator
            </td>
            <td>
              <%= link_to "Set Content Manager", set_role_path(:id => user.uid, :role => 1), :class => "btn btn-danger" %>
              <%= link_to "Set Commenter", set_role_path(:id => user.uid, :role => 0), :class => "btn btn-danger" %>
            </td>
          <% else %>
            <% if user.is_content_manager? %>
              <td>
                Content Manager
              </td>
              <td>
                <%= link_to "Set Admin", set_role_path(:id => user.uid, :role => 2), :class => "btn btn-danger" %>
                <%= link_to "Set Commenter", set_role_path(:id => user.uid, :role => 0), :class => "btn btn-warning" %>
              </td>
            <% else %>
              <td>
                Commenter
              </td>
              <td>
                <%= link_to "Set Admin", set_role_path(:id => user.uid, :role => 2), :class => "btn btn-danger" %>
                <%= link_to "Set Content Manager", set_role_path(:id => user.uid, :role => 1), :class => "btn btn-warning" %>
              </td>
            <% end %>
          <% end %>
      </tr>
    <% end %>
    </table>

  <h1 class='lead'>Access Requests</h1>
  <table class="table">
    <thead>
      <tr>
        <th>User</th>
        <th>Reason</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @access_requests.each do |access_request| %>
        <tr>
          <td><%= access_request.user %></td>
          <td><%= access_request.reason %></td>
          <td>
          <%= link_to 'Approve', approve_request_url(access_request), :class => 'btn btn-success' %>
          <%= link_to 'Deny', access_request, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>