<div class="row map-box">
  <div id="map-canvas" class="bigmap"></div>
</div>

<script type="text/javascript">
window.hotspot.initialize();
function loadScript() {
  <% @locations.each do |location| %>
    window.hotspot.addMarkerToMap(
      <%= location.lat %>,
      <%= location.long %>, 
      "<%= location.name %>", 
      " <%= location.description %>", 
      <%= location.id %>);
  <% end %>
}
window.onload = loadScript;
</script>