<%= form_for(@access_request) do |f| %>
  <% if @access_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@access_request.errors.count, "error") %> prohibited this access_request from being saved:</h2>

      <ul>
      <% @access_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    Why do you want to be a content manager?<br>
    <%= f.text_area :reason %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
