<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @photo.location_id %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @photo.approved %>
</p>

<p>
  <strong>Denied:</strong>
  <%= @photo.denied %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
