<%= form_for @location, :html => { :multipart => true } do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-md-6">
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description, :cols => "50", :rows => "10"  %>
    </div>
  </div>
  <div class="col-md-6">
  <p class="lead">Move the pin to the location.</p>
  <div style="padding-bottom:10px;"><input type="text" name="address" value="University of West Georgia" style="width:250px;height:30px;border:1px solid black"> <input type="button" class="btn btn-sm btn-primary" name="search" value="Pin To Address"> -- OR -- 
  <input type="button" class="btn btn-sm btn-primary" name="start" value="Pin Here"></div>
  
    <div id="map-canvas" class="minimap"></div>
  </div>
  <div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-3">
        <%= f.label :lat %><br>
        <%= f.text_field :lat, 
          :input_html => {
            :id => "latitude"
          }, :readonly => true 
        %>
    </div>
    <div class="col-md-3">
        <%= f.label :long %><br>
        <%= f.text_field :long, 
          :input_html => {
            :id => "longitude"
          }, :readonly => true 
        %>
    </div>
  </div>
</div>

  <p class="lead">Images</p>
  <div class="well">
    <% unless @location.image1.blank? %>
    Current Image:
      <%= image_tag @location.image1.url(:medium) %>
    <% end %>
    <%= f.file_field :image1 %>
  </div>
  <div class="well">
    <% unless @location.image2.blank? %>
    Current Image:
      <%= image_tag @location.image2.url(:medium) %>
    <% end %>
    <%= f.file_field :image2 %>
  </div>
  <div class="well">
    <% unless @location.image3.blank? %>
    Current Image:
      <%= image_tag @location.image3.url(:medium) %>
    <% end %>
    <%= f.file_field :image3 %>
  </div>
  <div class="well">
    <% unless @location.image4.blank? %>
    Current Image:
      <%= image_tag @location.image4.url(:medium) %>
    <% end %>
    <%= f.file_field :image4 %>
  </div>
<div class="field">
<%= f.submit 'Submit', :class => 'btn btn-success' %>
</div>

<% end %>

<script type="text/javascript">

window.hotspot.useCurrentLocation = true;

jQuery('input[name=search]').click(function() {
  var geocoder = new google.maps.Geocoder(); 
    geocoder.geocode({
        address : jQuery('input[name=address]').val(), 
        region: 'no' 
      },
        function(results, status) {
          if (status.toLowerCase() == 'ok') {
          // Get center
          var coords = new google.maps.LatLng(
            results[0]['geometry']['location'].lat(),
            results[0]['geometry']['location'].lng()
          );

          window.hotspot.marker.setPosition(coords);
          updateMarkerPosition(window.hotspot.marker.getPosition());
          window.hotspot.map.setCenter(coords);
          window.hotspot.map.setZoom(18);
          }
      }
    );
});

jQuery('input[name=start]').click(function() {
  var center = window.hotspot.map.getCenter();

  window.hotspot.marker.setPosition(center);
  updateMarkerPosition(window.hotspot.marker.getPosition());
});


var geocoder = new google.maps.Geocoder();

function geocodePosition(pos) {
  geocoder.geocode({
    latLng: pos
  }, function(responses) {
    if (responses && responses.length > 0) {

    } else {
      updateMarkerAddress('Cannot determine address at this location.');
    }
  });
}

function updateMarkerPosition(latLng) {
  $('#location_lat').val(latLng.lat());
  $('#location_long').val(latLng.lng());
}

function initialize() {
  var lat = $('#location_lat').val() || -34.397;
  var lng = $('#location_long').val() || 150.644;
  var latLng = new google.maps.LatLng(lat, lng);
  window.hotspot.initialize($('#location_lat').val(), $('#location_long').val());

  window.hotspot.marker = new google.maps.Marker({
    position: latLng,
    title: 'Point',
    map: window.hotspot.map,
    draggable: true
  });
  
  var coords = new google.maps.LatLng(lat,lng);

  window.hotspot.marker.setPosition(coords);
  // Update current position info.
  updateMarkerPosition(latLng);
  geocodePosition(latLng);
  
  
  google.maps.event.addListener(window.hotspot.marker, 'drag', function() {
    updateMarkerPosition(window.hotspot.marker.getPosition());
  });
  
  google.maps.event.addListener(window.hotspot.marker, 'dragend', function() {
    geocodePosition(window.hotspot.marker.getPosition());
  });
}

// Onload handler to fire off the app.
function loadScript() {
  initialize();
}
window.onload = loadScript;
</script>
