<p id="notice"><%= notice %></p>

<h3><%= @location.name %></h3>

<div class="row">
  <div class="col-md-6">
    <div id="map-canvas" class="minimap"></div>
  </div>
  <div class="col-md-6">
    <div class="well"><%= @location.description %></div>
    <div style="text-align:center;"><a href="#" class="btn btn-large btn-primary"><span class="glyphicon glyphicon-road"></span> Get Directions</a></div>
  </div>
</div>

<% if user_admin? %>
<div style="margin:10px;" class="pull-right">
<%= link_to 'Edit', edit_location_path(@location), :class => "btn btn-info" %>
</div>
<% end %>


<script type="text/javascript">
window.hotspot.initialize();
function loadScript() {
  window.hotspot.addMarkerIconToMap(<%= @location.lat %>, <%= @location.long %>);
  window.hotspot.map.setCenter(new google.maps.LatLng(<%= @location.lat %>, <%= @location.long %>));
  window.hotspot.map.setZoom(15);
}
window.onload = loadScript;
</script>
