<table>
<tr>
  <td ><h2><%= @location.name %></h2></td>
	<% if user_admin? %>
    <td style="padding-left:10px"><%= link_to 'Edit', edit_location_path(@location), :class => "btn btn-info" %></td></td>
    <td><%= button_to 'Delete', @location, :method => :delete, :class => "btn btn-danger", data: { confirm: 'Are you sure you want to permanently delete this HotSpot?' } %></td>
	<% end %>
  <td>
    <% if current_user %>
      <%= form_for(@new_rating) do |f| %>
          <%= f.text_field :location_id, :value => @location.id, :class => "hidden" %>
          <%= f.text_field :user_id, :value => @current_user.id, :class => "hidden" %>
          <%= f.select :rating, ((1..5).map {|i| [i,i] }) %>
          <%= f.submit "rate" %>
      <% end %>
    <% end %>
  </td>
</tr>
</table>

  <table class="table">
    <tr>
      <td>
	     <div id="share-buttons" style="margin-top:10px; margin-bottom:10px;"  >
    		<!-- AddThis Button BEGIN -->
      		<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
      			<a class="addthis_button_facebook"></a>
      			<a class="addthis_button_twitter"></a>
      			<a class="addthis_button_google_plusone_share"></a>
      			<a class="addthis_button_email"></a>
      		</div>
    		  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53151bba170990c9"></script>
    		<!-- AddThis Button END -->
	     </div>
      </td>
      <td>
        <div class="rating-box pull-right" style="margin-left:10px;">
          <div id="rating-image" class="pull-left"></div>
          <span id="rating-value" class="lead" style="margin-left:3px;">(<%= @rating %>)</span>
        </div>
      </td>
    </tr>
  </table>


	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

	<script>
	var directionsDisplay;
 	var directionsService = new google.maps.DirectionsService();
 
 	function initialize() {
 		directionsDisplay = new google.maps.DirectionsRenderer();
 		directionsDisplay.setPanel(document.getElementById('directions-panel'));
 
 		var control = document.getElementById('control');
 		control.style.display = 'block';
 		map.controls[google.maps.ControlPosition.TOP_CENTER].push(control);
 	}
 
 	function calcRoute() {
		var start = document.getElementById('start').value;
		var end = "<%=@location.lat%>, <%=@location.long%>";
		if (navigator.geolocation) { 
			start =  new google.maps.LatLng(window.latitude, window.longitude);
		}
 		var request = {
 			origin : start,
 			destination : end,
 			travelMode : google.maps.TravelMode.DRIVING
 		};
 		directionsService.route(request, function(response, status) {
 			if (status == google.maps.DirectionsStatus.OK) {
 				directionsDisplay.setDirections(response);
				document.getElementById("print-button").style.visibility="visible";
				document.getElementById('directions-not-found').innerHTML = "";
 			}
			else{
				document.getElementById('directions-not-found').innerHTML = "<h1>Unable to retrieve directions, ensure locations are correct.</h1>";
			}
 		});
 		
 	}	
 	function print(){
 		var contents = window.document.getElementById('directions-panel'); 
 		newWindow= window.open();
 		newWindow.document.write(contents.innerHTML);
 		newWindow.print();
 		newWindow.close();
     }
 	google.maps.event.addDomListener(window, 'load', initialize);
 	</script>
 	<script>
 	function showDirections()
 	{	
		if (navigator.geolocation) { 
			document.getElementById('start').defaultValue = "Current Location";
		}
 		document.getElementById("directionsWidget").style.visibility="visible";
 		document.getElementById("hideDirections").style.visibility="visible";
 	}
 	function hideDirections()
 	{
 		document.getElementById("directionsWidget").style.visibility="hidden";
 		document.getElementById("hideDirections").style.visibility="hidden";
 		document.getElementById("print-button").style.visibility="hidden";
 	}			
		
	</script>

  <div class="row">
    <div class="col-md-6">
      <div id="map-canvas" class="minimap"></div>
    </div>
    <div class="col-md-6">
      <div class="well"><%= @location.description %></div>
  	<div align="center" style="padding-bottom: 10px">
  		<button id="getDirections" class="btn btn-large btn-primary" onClick="showDirections()">
  		<span class="glyphicon glyphicon-road"></span>
  		<span class="text">Get Directions</span>
  		</button>
  		<button id="hideDirections" style="visibility: hidden;" class="btn btn-large btn-primary" onClick="hideDirections()">
  		<span class="glyphicon glyphicon-remove"></span>
  		<span class="text">Hide Directions</span>
  		</button>
  		
  		<button id="print-button" style="visibility: hidden;"  class="btn btn-mini btn-primary" onClick="print()">
   		<span class="glyphicon glyphicon-print"></span>
   		<span class="text">Print</span>
   		</button>
  	</div>
  	
  		<div id="directionsWidget" style="visibility: hidden">
   			<div id="control">
   				<strong>Start:</strong>
   				<input name="start" type="text" maxlength="100" id="start"/>
   				<strong>End:</strong>
   				<input name="end" type="text" maxlength="100" id="end" value="<%=@location.name%>" readonly/>
   				<input type="button" value="Go!" onClick="calcRoute()">
   			</div>
   			<div id="directions-panel"></div>
  			<div id="directions-not-found"></div>
   		</div>
    </div>
  </div>


  <div class="row gallery-row">
    <% unless @location.image1.blank? %>
      <div class="col-xs-6 col-md-3 gallery-thumb">
        <a href="#" class="thumbnail" data-toggle="modal" data-target="#image1Modal">
        <%= image_tag @location.image1.url(:medium) %>
        </a>
      </div>
    <% end %>
    <% unless @location.image2.blank? %>
      <div class="col-xs-6 col-md-3 gallery-thumb">
        <a href="#" class="thumbnail" data-toggle="modal" data-target="#image2Modal">
        <%= image_tag @location.image2.url(:medium) %>
        </a>
      </div>
    <% end %>
    <% unless @location.image3.blank? %>
      <div class="col-xs-6 col-md-3 gallery-thumb">
        <a href="#" class="thumbnail" data-toggle="modal" data-target="#image3Modal">
        <%= image_tag @location.image3.url(:medium) %>
        </a>
      </div>
    <% end %>
    <% unless @location.image4.blank? %>
      <div class="col-xs-6 col-md-3 gallery-thumb">
        <a href="#" class="thumbnail" data-toggle="modal" data-target="#image4Modal">
        <%= image_tag @location.image4.url(:medium) %>
        </a>
      </div>
    <% end %>
  </div>

  <% if @has_user_uploaded_images %>
    <h3>User Uploaded Images</h3>
    <div class="galleria">
      <% @user_uploaded_images.each do |photo| %>
        <img src="<%= photo.image.url(:medium) %>"></img>
      <% end %>
    </div>
  <% end %>

  <div class="well" style="width:300px;margin:auto;margin-top:15px;margin-bottom:15px;">
  <h4 class="lead">Upload your own images!</h4>
  <%= form_for(@new_image) do |f| %>

    <%= f.text_field :location_id, :value => @location.id, :class => "hidden"  %>
    <%= f.file_field :image %>
    <br>
    <div class="actions">
      <%= f.submit 'Upload', :class => 'btn btn-success' %>
    </div>
  <% end %>
  </div>

  <% unless @location.image1.blank? %>
    <div class="modal fade" id="image1Modal" tabindex="-1" role="dialog" aria-labelledby="image1Modal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <%= image_tag @location.image1.url %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% unless @location.image2.blank? %>
    <div class="modal fade" id="image2Modal" tabindex="-1" role="dialog" aria-labelledby="image2Modal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <%= image_tag @location.image2.url %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% unless @location.image3.blank? %>
    <div class="modal fade" id="image3Modal" tabindex="-1" role="dialog" aria-labelledby="image3Modal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <%= image_tag @location.image3.url %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% unless @location.image4.blank? %>
    <div class="modal fade" id="image4Modal" tabindex="-1" role="dialog" aria-labelledby="image4Modal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <%= image_tag @location.image4.url %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div id="fb-root"></div>

  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=249607688534353";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
  </script>

    <script>
      document.write("<div class='fb-comments' data-href='" + window.location.href + "' data-num-posts='2' data-width='500'></div>");
    </script>
    
  <script type="text/javascript">
    window.hotspot.useCurrentLocation = false;
    window.hotspot.initialize();
    function loadScript() {
      window.hotspot.addMarkerIconToMap(<%=@location.lat%>, <%=@location.long%>);
      window.hotspot.setCenter(<%=@location.lat%>, <%=@location.long%>);
      window.hotspot.map.setZoom(15);
      Galleria.loadTheme("<%= ActionController::Base.helpers.asset_path("assets/galleria/themes/classic/galleria.classic.min.js") %>");
      Galleria.run('.galleria');
    }
    window.onload = loadScript;
  </script>

  <script>
    var width = <%= @rating %> * 21;
    $('#rating-image').css("width", width);
  </script>
