<%# navigation styled for Bootstrap 3.0 %>
<div class="pull-right">
  <% if user_admin? %>
    <%= link_to raw('<span class="glyphicon glyphicon-home"></span>'), '/' %>
    <%= link_to raw('<span class="glyphicon glyphicon-user"></span>'), '/users' %>
    <% end %>


  <%= link_to raw('<span class="glyphicon glyphicon-map-marker"></span>'), '/my_hotspots' %>
  
  <% if current_user %>
    Welcome <%= current_user.name %>!
    <%= link_to "Sign Out", signout_path %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook" %>
  <% end %>
</div>