<!DOCTYPE html>
<html>
  <head> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Hotspot" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Hotspot" %>">
    <%= stylesheet_link_tag "application", media: "all" %>
    <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqa4axPJnZK1dFRJ7dN6_WeSmsWOd1Erw&sensor=true"></script>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <div class="container">
    <%= render 'layouts/navigation' %>
    <div class="row">
      <div class="col-md-3"><a class="title-link" href="/"><%= image_tag "logo.jpg" %></a></div>
      <div class="col-md-6 alert-box"><%= render 'layouts/messages' %></div>
    </div>    

    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li>
          <%= link_to raw('<span class="glyphicon glyphicon-home"></span> Home'), '/' %>
          </li>
          <li>
          <%= link_to raw('<span class="glyphicon glyphicon glyphicon-search"></span> Browse'), '/browse' %>
          </li>
          <li>
          <%= link_to raw('<span class="glyphicon glyphicon-map-marker"></span> My Hotspots'), '/my_hotspots' %>
          </li>
          <% if user_admin? %>
            <li>
            <%= link_to raw('<span class="glyphicon glyphicon-user"></span> Administration'), '/users' %>
            </li>
          <% end %>
        </ul>
        <% if (params[:action] == 'map') %>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-right" role="search" onsubmit="return false">
              <div class="form-group">
                <input type="text" id="address-input" class="form-control" name="address" placeholder="Find an address">
              </div>
              <input type="button" id="address-search-button" class="btn btn-default" name="search" value="Go"></input>
            </form>
          </div><!-- /.navbar-collapse -->
        <% end %>
      </div><!-- /.container-fluid -->
    </nav>
    <div class="content">
      <%= yield %>
    </div>
   </div>

  </body>
</html>
