<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Hotspot" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Hotspot" %>">
    <%= stylesheet_link_tag "application", media: "all" %>
    <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqa4axPJnZK1dFRJ7dN6_WeSmsWOd1Erw&sensor=true"></script>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <div class="container">
    <%= render 'layouts/navigation' %>

    <div class="row">
      <div class="col-md-3"><a class="title-link" href="/"><h1>HotSpot</h1></a></div>
      <div class="col-md-6 alert-box"><%= render 'layouts/messages' %></div>
    </div>    

    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li>
          <%= link_to raw('<span class="glyphicon glyphicon-home"></span> Home'), '/' %>
          </li>
          <li>
          <%= link_to raw('<span class="glyphicon glyphicon glyphicon-search"></span> Browse'), '/browse' %>
          </li>
          <li>
          <%= link_to raw('<span class="glyphicon glyphicon-map-marker"></span> My Hotspots'), '/my_hotspots' %>
          </li>
          <% if user_admin? %>
            <li>
            <%= link_to raw('<span class="glyphicon glyphicon-user"></span> Administration'), '/users' %>
            </li>
          <% end %>
        </ul>
		<div id="share-buttons" style="float:right; margin-top:10px; margin-bottom:10px;"  >
		<!-- AddThis Button BEGIN -->
		<div class="addthis_toolbox addthis_default_style addthis_16x16_style">
			<a class="addthis_button_facebook"></a>
			<a class="addthis_button_twitter"></a>
			<a class="addthis_button_google_plusone_share"></a>
			<a class="addthis_button_email"></a>
		</div>
		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53151bba170990c9"></script>
		<!-- AddThis Button END -->
	</div>
        <% if (params[:action] == 'map') %>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-right" role="search" onsubmit="return false">
              <div class="form-group">
                <input type="text" id="address-input" class="form-control" type= placeholder="Enter an address">
              </div>
              <button id="address-search-button" type="submit" class="btn btn-default">Submit</button>
            </form>
          </div><!-- /.navbar-collapse -->
        <% end %>
      </div><!-- /.container-fluid -->
    </nav>
    <div class="content">
      <%= yield %>
    </div>
   </div>

  </body>
</html>
